<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="$(selected).keydown(function () { 
});">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>게시판</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  
    <nav th:replace="./fragments/common :: menu('board')" class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
        
    </nav>

    <div class="container my-5">
        <div class="bg-light p-5 rounded">
          <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal">게시판게시판게시판게시판</h1>
            <p class="fs-5">teststetetetete</p>
            <p>
              <a class="btn btn-primary" href="#" role="button">Learn test »</a>
            </p>
        </div>
        </div>
      </div>

</body>
</html>